/*  your css code here. If applicable */

.body{
	background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/66/93/04/caption.jpg?w=800&h=800&s=1')
}

h1{
	color:white;
	text-align:center;
}